{% extends 'base-backend.html.twig' %}

{% block title %}Vidéos index{% endblock %}

{% block body %}
    {% for label, messages in app.flashes() %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="d-flex flex-wrap justify-content-between align-items-center">
        <h1>Vidéos index</h1>
        <a href="{{ path('app_admin_video_new') }}" class="btn btn-secondary"><i class="align-middle" data-feather="plus-circle"></i></a>
    </div>

    <table class="table table-secondary table-striped">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Realisateur</th>
                <th>Description</th>
                <th>ImageName</th>
                <th>Duree</th>
                <th>VideoName</th>
                <th>UpdatedAt</th>
                <th>Slug</th>
                <th class="text-end">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for video in videos %}
            <tr>
                <td>{{ video.id }}</td>
                <td>{{ video.titre }}</td>
                <td>{{ video.realisateur }}</td>
                <td>{{ video.description }}</td>
                <td>{{ video.imageName }}</td>
                <td>{{ video.duree }}</td>
                <td>{{ video.videoName }}</td>
                <td>{{ video.updatedAt ? video.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ video.slug }}</td>
                <td class="text-end">
                    <a href="{{ path('app_admin_video_show', {'id': video.id}) }}" class="btn btn-warning"><i class="align-middle" data-feather="eye"></i></a>
                    <a href="{{ path('app_admin_video_edit', {'id': video.id}) }}" class="btn btn-success"><i class="align-middle" data-feather="edit-2"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
