{% extends 'base-backend.html.twig' %}

{% block title %}Utilisateurs index
{% endblock %}

{% block body %}
	<div class="d-flex flex-wrap justify-content-between align-items-center">
        <h1>Utilisateurs index</h1>
		<a href="{{ path('app_admin_user_new') }}" class="btn btn-secondary"><i class="align-middle" data-feather="plus-circle"></i></a>
	</div>

    <table class="table table-secondary table-striped">
        <thead class="table-dark">
			<tr>
				<th>Id</th>
				<th>Email</th>
				<th>Roles</th>
				<th>Password</th>
				<th>Pseudo</th>
				<th>ImageName</th>
				<th>UpdatedAt</th>
				<th>Slug</th>
				<th>Role</th>
				<th class="text-end">actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
					<td>{{ user.password }}</td>
					<td>{{ user.pseudo }}</td>
					<td>{{ user.imageName }}</td>
					<td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ user.slug }}</td>
					<td>{{ user.role }}</td>
					<td class="text-end">
                        <a href="{{ path('app_admin_user_show', {'id': user.id}) }}" class="btn btn-warning"><i class="align-middle" data-feather="eye"></i></a>
                        <a href="{{ path('app_admin_user_edit', {'id': user.id}) }}" class="btn btn-success"><i class="align-middle" data-feather="edit-2"></i></a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="10">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
