{% extends 'base-backend.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_user_index') }}" class="btn btn-dark mb-3"><i class="align-middle" data-feather="arrow-left-circle"></i></a>
    <div class="d-flex flex-wrap justify-content-between align-items-center">
        <h1>Utilisateurs</h1>
        {{ include('admin_user/_delete_form.html.twig') }}
    </div>

    <table class="table table-secondary table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ user.pseudo }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td>{{ user.imageName }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ user.slug }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ user.role }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_user_edit', {'id': user.id}) }}" class="btn btn-success"><i class="align-middle" data-feather="edit-2"></i></a>

{% endblock %}
